<p>Hello <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Te contactamos para notiifcar que tu email registrado va a cambiar a <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Te contactamos para notiifcar que tu email registrado ha sido cambiado a  <%= @resource.email %>.</p>
<% end %>
