<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha requerido un link para cambiar tu contraseña. Puedes hacerlo a través del link de abajo.</p>

<p><%= link_to 'Cambia mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no has sido tú quien ha solicitado el cambio, por favor ignora este email.</p>
<p>Tu contraseña no cambiará hasta que picnhes en el link de abajo.</p>
